<%- model_class = GiftList -%>
<div class="page-header">
	<h1><%=t '.title', :default => model_class.model_name.human.pluralize %> <%= @event.name %></h1>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Presentes</th>
		<tr>
	</thead>
	<tbody>
		<% @gifts.each do |gift|  %>
			<tr>
				<td> <%= gift.name %> </td>
			</tr>
		<% end %>
	</tbody>
</table>
<div>
	<%= paginate @gifts %>
  <%= link_to t('.back', :default => t("helpers.links.back")),
              dashboard_path, :class => 'btn' %>
</div>

