
<div class="page-header">
	<h1>Dashboard</h1>
</div>
<%= yield :charts_js %>


<!-- Main -->
<div class="container">

<div class="row">
    <div class="col-md-12">
      	<!-- Right -->
      	<hr>
	<div class="row">
		<% if user_signed_in? %>
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading"><strong>Despesas</strong></div>
					<%=pie_chart @expenses.map {|expense| [expense.name, expense.total]}  %>
					<div class="panel-bottom"><h2>Total <%= number_to_currency "#{@expenses.map(&:total).sum}"%></h2></div>
				</div><!--/panel-->
			</div>
		<% end %>
    <div class="col-md-6">
	 	<div class="panel panel-default">
		  <div class="panel-heading"><strong>Contagem Regressiva</strong></div>
         <div class="panel-body">
				<h2>Faltam somente</h2><BR> <H4><%= "#{@period[:month]} meses, #{@period[:day]} dias, #{@period[:hour] } horas e #{@period[:minute]} minutos para o nosso" %> </H4> <h2>CASAMENTO</h2><P>
       </div>
		 </div>
	 </div>
    <div class="col-md-6">
	 	<div class="panel panel-default">
		  <div class="panel-heading"><strong>Presentes</strong></div>
         <div class="panel-body">
					 <table class="table table-striped">
						 <thead>
							 <tr><th>Evento</th><th>Data</th><th>Endereço</td><td/></tr>
						</thead>
						<tbody>
							<% @events.each do |event| %>
								<tr>
									<td> <%=event.name %> </td>
									<td> <%=event.date.strftime("%d/%m/%Y") %> </td>
									<td> <%=event.address %> </td>
									<td>
										<%= link_to "ver Presentes", dashboard_gifts_path(event.to_param), class: "btn btn-primary btn-xs" %>
									</td>
								</tr>
							<% end %>
						</tbody>
					</table>

       </div>
		 </div>
	 </div>
    <div class="col-md-6">


         <% if user_signed_in? %>
              <div class="panel panel-default">
                  <div class="panel-heading"><strong>Convidados</strong></div>
                  <table class="table table-striped">
                  <thead>
                    <tr><th>Total</th><th>Total Confirmados</th></tr></thead>
                  <tbody>
                    <tr>
                    	<td><%="#{(@guests.count + @guests.map(&:companions_amount).compact.sum).to_s }"%></td>
                    	<td><%="#{(Guest.where(confirmed: true).count + @guests.inject(0){|sum, guest| guest.confirmed ? sum + guest.companions_amount : sum }).to_s }"%></td>
                    </tr>
                  </tbody>
                  </table>
	  </div><!--/panel-->
  	<% end %>
		</div>

               	<i class="icon-bar-chart icon-3x"></i>
              	<i class="icon-plus icon-3x"></i>
              	<i class="icon-facebook icon-3x"></i>
              	<i class="icon-beaker icon-3x"></i>
              	<i class="icon-twitter icon-3x"></i>


			</div><!--/col-span-6-->

      </div><!--/row-->
  	</div><!--/col-span-9-->
</div>
</div>
<!-- /Main -->
