<%= form_for @guest, :html => { :class => 'form-horizontal' } do |f| %>
	<%= render partial: "shared/flash_messages", flash: flash %>
  <div class="form-group">
    <%= f.label :user_id, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-6">
			<%= f.select :user_id, options_from_collection_for_select(User.all, :id, :email, current_user.id), {include_blank: t('.select')}, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :name, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :companions_amount, :class => 'col-sm-2 control-label' %>
   <div class="col-sm-6">
      <%= f.number_field :companions_amount, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :children_amount, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <%= f.number_field :children_amount, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone_number, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-6">
			<%= f.text_field :phone_number, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :confirmed, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <%= f.check_box :confirmed, :class => 'check_box' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                guests_path, :class => 'btn' %>
  </div>
<% end %>
