<%- model_class = Guest -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:companions_amount) %></th>
      <th><%= model_class.human_attribute_name(:children_amount) %></th>
      <th><%= model_class.human_attribute_name(:confirmed) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @guests.each do |guest| %>
      <tr>
        <td><%= link_to guest.id, guest_path(guest) %></td>
        <td><%= guest.name %></td>
        <td><%= guest.companions_amount %></td>
        <td><%= guest.children_amount %></td>
        <td><%= guest.confirmed ? 'Sim' : 'Não' %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_guest_path(guest), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      guest_path(guest),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <th/>
    <th><%= Guest.all.count%></th>
    <th><%= Guest.total_companions%></th>
    <th><%= Guest.total_children%></th>
    <th/>
    <tr>
      <td/>
      <td> <%="#{t('.total') + ": " +(Guest.all.count + Guest.total_companions).to_s }"%></td>
      <td> <%="#{t('.confirmed').pluralize + ": " +(Guest.where(confirmed: true).count + Guest.all.inject(0){|sum, guest| guest.confirmed ? sum + guest.companions_amount : sum }).to_s }"%></td>
        <td/>
        <td/>
    <tr/>
  </tfoot>
</table>
<div>
	<%= paginate @guests %>
</div>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_guest_path,
            :class => 'btn btn-primary' %>
<%#= will_paginate @guests, renderer: BootstrapPagination::Rails %>
