<%- model_class = GiftList -%>
<div class="page-header">
	<div class="title">
	<h3><%=t '.title', :default => model_class.model_name.human.pluralize %> <%= @event.name %></h3>
</div>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Presentes</th>
		<tr>
	</thead>
	<tbody>
		<% @gifts.in_groups(10, false) do |group|  %>
			<tr>
		<% group.each do |gift|  %>
				<td> <%= gift.name %> </td>
				<td>
				<%= check_box("gift_list", "checked",
				{
          :checked => gift.checked,
					:class => "checked",
					:gift_list_id => gift.id,
					:url => update_checked_gift_list_path(gift_list_id: gift.id)

				}) %></td>
		<% end %>
			</tr>
		<% end %>
	</tbody>
</table>
<div>
	<%= paginate @gifts %>
  <%= link_to t('.back', :default => t("helpers.links.back")),
              home_path, :class => 'btn' %>
</div>

