<%- model_class = GiftList -%>
<div class="page-header">
	<div class="title">
	<h3><%=t '.title', :default => model_class.model_name.human.pluralize %> <%= @event.name %></h3>
</div>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Presentes</th>
		<tr>
	</thead>
	<tbody>
		<% @gifts.in_groups(10, false) do |group|  %>
			<tr>
		<% group.each do |gift|  %>
				<td> <%= gift.name %> </td>
				<td>
					<a href="#" data-disabled="<%= (!gift.guest_name.nil? and !gift.guest_name.eql? "") and (!gift.guest_name.eql? "Nenhum" and !gift.guest_name.eql? "Seu nome aqui")%>"
						data-xeditable="true"
						data-pk="<%= gift.id %>"
						data-model="gift_list"
						data-name="guest_name"
						data-url="<%= update_checked_gift_list_url(gift_list_id: gift.id) %>"
						data-title="Seu nome">
							<%= (gift.guest_name.nil? or gift.guest_name.eql? "") ? "Seu nome aqui" : gift.guest_name%>
							<%#= gift.guest_name.empty? ? "Seu nome aqui" : gift.guest_name%>

					</a>

</td>
		<% end %>
			</tr>
		<% end %>
	</tbody>
</table>
<div>
	<%= paginate @gifts %>
  <%= link_to t('.back', :default => t("helpers.links.back")),
              home_path, :class => 'btn' %>
</div>

