		<!-- Navigation Starts -->

		<a name="home" id="home"></a>
		<!-- Navigation Ends -->

		<!-- Main Starts -->
		<div class="main">
			<div class="container">
				<div class="row">
					<div class="col-md-7 col-sm-7">
						<div class="main-invite">
							<div class="signal"><i class="icon-signal"></i>	 <span>Nosso casamento</span></div>
							<h1>Nós estamos<br>
								nos casando</h1>
							<p>A data mais feliz das nossas vidas até agora está se aproximando. Queremos que tudo dê certo. Estamos nos preparado e planejando muito para que isso aconteça  e que seja maravilhoso.</p>
						</div>
					</div>
					<div class="col-md-5 col-sm-5">
						<div class="main-date">
							<i class="icon-heart"></i>
							<div class="date">
								<span class="year"><strong>18/10/2014</strong></span><br>
								<span class="month"><strong><%= "Faltam #{@period[:month]} mese(s), #{@period[:week]} semanas, #{@period[:day]} dia(s), #{@period[:hour]} hora(s) e #{@period[:minute]} minuto(s) " %></strong></span><br>
							</div>
						</div>
					</div>
				</div>
				<a name="wedding" id="wedding"></a>
			</div>
		</div>
		<!-- Main Ends -->

		<!-- About Starts -->
		<%= render 'about' %>

		<!-- Wedding Starts -->
		<%= render 'wedding' %>
		<!-- Wedding Ends -->
		<!-- About Ends -->
		<!-- Photos Starts -->
		<%= render 'photos' %>
		<!--Photo Ends-->
		<!-- RSVP Starts -->
		<%= render 'messages' %>
		<!-- RSVP Ends -->


