<%= form_for [event, @gift_list], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :name, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :brand, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <%= f.text_field :brand, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                event_gift_lists_path(event), :class => 'btn' %>
  </div>
<% end %>
