<%- model_class = GiftList -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<%= form_tag event_gift_lists_path(@event), method: 'get', id: 'gift_lists_search', class: "form-inline" do %>
	<div class="form-group" >
		<%= text_field_tag :search, params[:search], class: "form-control " %>
	</div>
	<div class="form-group" >
		<%= submit_tag "Buscar", class: "btn btn-primary" %>
	</div>
<% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:brand) %></th>
      <th><%= t '.where' %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @gift_lists.each do |gift_list| %>
      <tr>
        <td><%= link_to gift_list.id, event_gift_list_path(@event, gift_list) %></td>
        <td><%= gift_list.name %></td>
        <td><%= gift_list.brand %>
        <td>
          <% #gift_list.buscape_info.each do |product| %>
            <%#=product.name %>
            <%#=image_tag product.image, size: "50x50"%>
            <%#= "#{('R$ ' + product.minimum_price) unless product.minimum_price.nil? }"%>
          <%#end%>
        </td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_event_gift_list_path(@event, gift_list), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      event_gift_list_path(@event, gift_list),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
	<tfoot>
		<th><td colspan=5 class="text-center"><%= paginate @gift_lists %></td></th>
	</tfoot>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_event_gift_list_path,
            :class => 'btn btn-primary' %>
<%= link_to t('.back', :default => t("helpers.links.back")),
            events_path,
            :class => 'btn btn-default' %>
