<%- model_class = Expense -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:amount) %></th>
      <th><%= model_class.human_attribute_name(:unit_value) %></th>
      <th><%= model_class.human_attribute_name(:unit) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= link_to expense.id, expense_path(expense) %></td>
        <td><%= expense.name %></td>
        <td><%= expense.amount %></td>
        <td><%= number_to_currency expense.unit_value %></td>
        <td><%= expense.unit %></td>
				<td>
					<%= link_to "<i class='glyphicon glyphicon-search' alt='Ver'></i>".html_safe, expense %>
          <%= link_to "<i class='glyphicon glyphicon-edit' alt='Ver'></i>".html_safe,
                      edit_expense_path(expense), :class => '' %>
					<%= link_to "<i class='glyphicon glyphicon-remove'></i>".html_safe,
                      expense_path(expense),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => '' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_expense_path,
            :class => 'btn btn-primary' %>
