<!DOCTYPE html>
<html>
	<head>
		<!-- Title here -->
		<title>Casamento Elisa e Dener</title>
		<!-- Description, Keywords and Author -->
		<meta name="description" content="Your description">
		<meta name="keywords" content="Your,Keywords">
		<meta name="author" content="ResponsiveWebInc">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lobster+Two:700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic' rel='stylesheet' type='text/css'>

		<%#= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%#= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

    <%= csrf_meta_tags %>
		<!-- Styles -->
		<!-- Bootstrap CSS -->
		<link rel="shortcut icon" href="#">
	</head>

	<body>
		<div class="navbar navbar-default navbar-fixed-top bs-docs-nav" role="banner" id="navbar">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".bs-navbar-collapse">
					  <span class="sr-only">Toggle navigation</span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Elisa &amp; Dener</a>
				</div>

				<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
					<ul class="nav navbar-nav navbar-right nav-tabs">
        <% if user_signed_in? %>
            <li><a href="/">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Cadastros <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="/guests"><%= t('.guest').pluralize  %></a></li>
								<li><a href="/events">Eventos</a></li>
								<li><a href="/expenses"><%= t('.expense').pluralize %></a></li>
						  </ul>
					  </li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuário<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<%#= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %>
							</ul>
						</li>
						<li><%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
				<% else %>
						<li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %> </li>
        <% end%>
					</ul>
				</nav>


			</div>
		</div>
    <% if user_signed_in? %>
			<span class="label label-danger">Logado como <strong><%= current_user.email %></strong></span>
		<% end %>
    <div class="container theme-showcase">
			<%= render partial: "shared/flash_messages", flash: flash %>
			<%= yield %>
    </div> <!-- /container -->
		<!--Footer Starts -->
			<div class="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="copy">
                     <!-- This theme comes with Creative Commons Attribution 3.0 Unported license. So you should not remove the footer link. -->
								Copyright 2013 &copy; <a href="http://responsivewebinc.com/bootstrap-themes">Bootstrap Themes</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		<!--Footer Ends -->
		<span class="totop"><a href="/#home" class="anchorLink"><i class="glyphicon glyphicon-chevron-up"></i></a></span>
		<!-- FlexSlider -->
		<!-- jQuery Anchor Plugin -->
		<!-- Respond JS for IE8 -->
	</body>
</html>
